@import url(https://fonts.googleapis.com/css?family=Roboto:300);

* {
    font-family: "Roboto", sans-serif;
}

.home {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.adminHeroSelect {
    width: 320px;
    margin: 8px;
}

.head {
    width: 100%;
}

.head .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    padding: 10px;
}

.head .container-fluid {
    width: fit-content;
    margin: 0;
}

.college-name {
    color: white;
    text-align: center;
    font-size: larger;
}

.head .navbar a {
    color: #fff;
    margin: 0 10px;
}

#logged a {
    width: 140px;
}

.navbar-toggler {
    position: absolute;
    right: 13px;
    top: 7px;
}

@media (width < 450px) {
    .head .container-fluid {
        width: 100vw;
        text-align: center;
    }

    #logged {
        margin: auto;
    }
}

#custom-modal,
#electiveModal {
    width: 650px;
}

#modalClose,
#electiveModalClose {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    border: none;
}

#modalClose:hover,
#electiveModalClose:hover {
    background-color: #DC3545;
}

#modalClose i,
#electiveModalClose i {
    font-size: larger;
}

.modalMessage {
    font-size: large;
    margin-top: 15px;
}

.status {
    margin-top: 80px;
}

.choose {
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#course-wise-link {
    position: absolute;
    top: 79px;
    right: 15px;
}

#course-wise {
    padding-top: 80px;
}

#select-course {
    margin-bottom: 15px;
}

#course-wise select {
    margin: auto;
}

.form-check:hover {
    cursor: pointer;
}

.form-check-input:hover {
    cursor: pointer;
}

.form-check-label:hover {
    cursor: pointer;
}

.table-container {
    max-height: 400px;
    overflow: auto;
}

.table-container::-webkit-scrollbar {
    width: 10px;
}

.table-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.table-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

.table-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.allotBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 50px 100px 50px;
}

.allotBtn button {
    width: 170px;
}

.adminNavBtn {
    text-align: center;
}

.adminNavBtn button {
    width: 190px;
}

#verification,
#verifiedReceipts {
    margin-top: 80px;
}

.login-page {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f9fa;
}

.container {
    text-align: center;
}

.container h1 {
    font-size: 2em;
    color: #343a40;
}

.login-with-google-btn {
    transition: background-color .3s, box-shadow .3s;
    margin: 15px;
    padding: 10px 16px 12px 42px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 12px 11px;

    &:hover {
        box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
    }

    &:active {
        background-color: #eeeeee;
    }

    &:focus {
        outline: none;
        box-shadow:
            0 -1px 0 rgba(0, 0, 0, .04),
            0 2px 4px rgba(0, 0, 0, .25),
            0 0 0 3px #c8dafc;
    }

    &:disabled {
        filter: grayscale(100%);
        background-color: #ebebeb;
        box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
        cursor: not-allowed;
    }
}

#warn {
    color: red;
    font-size: larger;
    font-weight: bold;
}

.studentRegOptions {
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f3f3f3;
}

#courseRegBtn {
    display: none;
}

#student-buttons {
    display: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f3f3f3;
}

.options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 15px
}

#underVerification {
    font-size: large;
    font-weight: bold;
}

.option {
    width: 200px;
    padding: 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.option:hover {
    background-color: #2980b9;
}

.reg-form-container,
.electives-container,
.change-electives {
    max-width: 408px;
    margin: 85px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#regForm,
#electivesForm,
#changeElectivesForm {
    display: flex;
    flex-direction: column;
}

#regForm span,
#electivesForm span {
    color: red;
}

#regForm label,
#electivesForm label,
#changeElectivesForm label {
    margin-bottom: 8px;
}

#regForm input,
#regForm select,
#electivesForm input,
#electivesForm select,
#changeElectivesForm input,
#changeElectivesForm select {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.elective {
    display: flex;
    flex-direction: column;
}

#elective-preference {
    display: none;
}

#regForm input[type="submit"],
#electivesForm input[type="submit"],
#changeElectivesForm input[type="submit"] {
    padding: 8px;
    margin-bottom: 16px;
    border-radius: 4px;
    width: 100%;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

#regForm input[type="submit"]:hover,
#electivesForm input[type="submit"]:hover,
#changeElectivesForm input[type="submit"]:hover {
    background-color: #45a049;
}

#changeElectivesBtn {
    display: none;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
}

#sameElectiveWarn p, #noneSelectedWarn p {
    font-weight: bold;
    color: red;
}

#noneSelectedWarn {
    text-align: center;
}

#selected-electives {
    display: none;
}

#bill {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bill-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.bill-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-size: 16px;
}

.total {
    font-weight: bold;
    border-top: 2px solid #333;
    margin: 15px;
    padding-top: 15px;
    font-size: 18px;
}

.bill-container button {
    width: 212px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #007bff;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.bill-container button:hover {
    background-color: #0056b3;
}

#payOrReceipt {
    margin: 6px;
    font-weight: bold;
}

#receiptContainer {
    margin-top: 83px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#receipt {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    width: 98vw;
}

#receipt h1 {
    margin-bottom: 25px;
}

#receiptContainer button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#receiptContainer button:hover {
    background-color: #45a049;
}

.upload-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.upload-form {
    margin-top: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.upload-form form {
    display: flex;
    flex-direction: column;
}

.upload-group {
    margin-bottom: 20px;
}

.upload-form label {
    font-weight: bold;
    color: #555;
    margin-bottom: 8px;
}

.upload-form input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.upload-form button {
    margin: auto;
    width: 100%;
    background-color: #007bff;
    color: #fff;
    padding: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.upload-form button:hover {
    background-color: #0056b3;
}

#alreadySubmittedWarn {
    padding-top: 10px;
    color: red;
    font-weight: bold;
}

#setCapacity {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#setCapacity label {
    font-weight: bold;
}

.capacityForm {
    border-top: 2px solid rgb(55, 55, 121);
    padding: 30px;
}

#maxCapHead {
    text-align: center;
    width: 100%;
}

#maxCapContainer {
    margin: auto;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

#no-electives {
    display: none;
    font-size: larger;
    font-weight: bold;
}

#maxCapContainer form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formItem {
    margin: 10px;
}

#maxCapContainer input[type=text],
#maxCapContainer select {
    width: 600px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#maxCapContainer button[type=submit] {
    width: 600px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#maxCapContainer button[type=submit]:hover {
    background-color: #45a049;
}

#closeMaxCap,
#courseWiseBackBtn {
    margin-top: 10px;
}

#closeMaxCap button,
#courseWiseBackBtn button {
    width: 200px;
    border: none;
    border-radius: 4px;
    padding: 14px 20px;
    margin: 8px 0;
    font-weight: bold;
}

#closeMaxCap button:hover,
#courseWiseBackBtn button:hover {
    background-color: red;
    color: white;
}

#courseWiseBackBtn {
    text-align: center;
    margin: 50px 0 20px 0;
}