@import url(https://fonts.googleapis.com/css?family=Roboto:300);

* {
    font-family: "Roboto", sans-serif;
}

.home {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    background-color: #f3f3f3;
}

.head {
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.college-name {
    font-size: 30px;
}

.head nav {
    display: flex;
    align-items: center;
    font-size: large;
}

.head nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

#logged a {
    width: 129px;
}

#logged button {
    font-size: large;
}

.hero-section {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#custom-modal {
    width: 650px;
}

#modalClose {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    border: none;
}

#modalClose:hover {
    background-color: #DC3545;
}

#modalClose i {
    font-size: larger;
}

.modalMessage {
    font-size: large;
    margin-top: 15px;
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    max-height: 200px;
    overflow-y: auto;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.choose {
    margin: 100px 30px 30px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-check:hover {
    cursor: pointer;
}

.form-check-input:hover {
    cursor: pointer;
}

.form-check-label:hover {
    cursor: pointer;
}

.table-container {
    max-height: 400px;
    overflow: auto;
}

.table-container::-webkit-scrollbar {
    width: 10px;
}

.table-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.table-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

.table-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.allotBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 50px 100px 50px;
}

.allotBtn button {
    width: 170px;
}

#verification {
    margin-top: 100px;
}

.login-page {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f9fa;
}

.container {
    text-align: center;
}

.container h1 {
    font-size: 2em;
    color: #343a40;
}

.login-with-google-btn {
    transition: background-color .3s, box-shadow .3s;
    margin: 15px;
    padding: 10px 16px 12px 42px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 12px 11px;

    &:hover {
        box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
    }

    &:active {
        background-color: #eeeeee;
    }

    &:focus {
        outline: none;
        box-shadow:
            0 -1px 0 rgba(0, 0, 0, .04),
            0 2px 4px rgba(0, 0, 0, .25),
            0 0 0 3px #c8dafc;
    }

    &:disabled {
        filter: grayscale(100%);
        background-color: #ebebeb;
        box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
        cursor: not-allowed;
    }
}

#warn {
    color: red;
    font-size: larger;
    font-weight: bold;
}

.studentRegOptions {
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f3f3f3;
    ;
}

.options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 15px
}

#underVerification {
    font-size: large;
    font-weight: bold;
}

.option {
    width: 200px;
    padding: 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.option:hover {
    background-color: #2980b9;
}

.reg-form-container {
    max-width: 406px;
    margin: 50px auto;
    margin-top: 100px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#regForm {
    display: flex;
    flex-direction: column;
}

#regForm span {
    color: red;
}

#regForm label {
    margin-bottom: 8px;
}

#regForm input,
#regForm select {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.elective {
    display: flex;
    flex-direction: column;
}

#regForm input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

#regForm input[type="submit"]:hover {
    background-color: #45a049;
}

#bill {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bill-container {
    background-color: #fff;
    margin-top: 68px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.bill-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-size: 16px;
}

.total {
    font-weight: bold;
    border-top: 2px solid #333;
    margin: 15px;
    padding-top: 15px;
    font-size: 18px;
}

.bill-container button {
    width: 212px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #007bff;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.bill-container button:hover {
    background-color: #0056b3;
}

#payOrReceipt {
    margin: 6px;
    font-weight: bold;
}

#receiptContainer {
    margin-top: 83px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#receipt {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    width: 98vw;
}

#receipt h1 {
    margin-bottom: 25px;
}

#receiptContainer button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#receiptContainer button:hover {
    background-color: #45a049;
}

.upload-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.upload-form {
    margin-top: 93px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.upload-form form {
    display: flex;
    flex-direction: column;
}

.upload-group {
    margin-bottom: 20px;
}

.upload-form label {
    font-weight: bold;
    color: #555;
    margin-bottom: 8px;
}

.upload-form input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.upload-form button {
    margin: auto;
    width: 100%;
    background-color: #007bff;
    color: #fff;
    padding: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.upload-form button:hover {
    background-color: #0056b3;
}