@import url(https://fonts.googleapis.com/css?family=Roboto:300);

* {
    font-family: "Roboto", sans-serif;
}

.home {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    background-color: #f3f3f3;
}

.head {
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.college-name {
    font-size: 30px;
}

.head nav {
    display: flex;
    align-items: center;
    font-size: large;
}

.head nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

.hero-section {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    max-height: 200px;
    overflow-y: auto;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.choose {
    margin: 100px 30px 30px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-check:hover {
    cursor: pointer;
}

.form-check-input:hover {
    cursor: pointer;
}

.form-check-label:hover {
    cursor: pointer;
}

.allotBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 50px 100px 50px;
}

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
    background: #43A047;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message span {
    color: #4CAF50;
    text-decoration: none;
}

.form .register-form {
    display: none;
}

.form span:hover {
    cursor: pointer;
}

.switch-admin {
    position: absolute;
    top: 368px;
    left: 560px;
    z-index: 2;
}

#warn {
    display: none;
    position: absolute;
    top: 500px;
    left: 482px;
    z-index: 2;
    color: red;
    font-weight: bold;
    width: 300px;
    text-align: center;
}

#logWarn {
    display: none;
    position: absolute;
    top: 431px;
    left: 465px;
    z-index: 2;
    color: red;
    font-weight: bold;
    width: 353px;
    text-align: center;
}